<table
	columnClasses="center,center,center,center,center,center,center,center,center,center"
	headerClass="center"
	rowClasses="odd gradeC" cellpadding="0" cellspacing="0"
	border="1" class="tablaIndex display"  bgcolor="white">
	<thead>
	  <tr>
	  	<th>Descripcion</th>
	    <th></th>
	  </tr>
	</thead>
        <tbody id="tbody-details">
	<% @product_types.each do |type| %>
	  <tr>
	  	<td><%= type.description%></td>
	  	
		<td>
			<div>
				<%= link_to image_tag('borrar2.gif'),type, confirm: 'Estas seguro?', method: :delete%>
			</div>
		</td>
	  </tr>
	<% end %>
	</tbody>
</table>
<script>
	
</script>
